
@font-face {
    font-family: 'cardo';
    src: url('fonts/cardo-regular-webfont.woff2') format('woff2'),
         url('fonts/cardo-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cardo';
    src: url('fonts/cardo-bold-webfont.woff2') format('woff2'),
         url('fonts/cardo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'alfaslabone';
    src: url('fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('fonts/alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasneue';
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: cardo;
    margin: 0px;

    --primary-color: #e27d60;
    --secondary-color: #85d0cb;
    --body-color: #000;
    --background-color: #fff;
}

html {
    background-color: var(--secondary-color);
}

#main {
    max-width: 625px;
    margin-left: calc(67vw - 417px);
    margin-right: calc(33vw - 213px);
    position: relative;
}

@media only screen and (max-width: 1250px) {
    #main {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

#splashwrap {
    width: 120%;
    margin-bottom: 30px;
    margin-left: -10%;
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.splash {
    z-index: -1;
}

#titlewrap {
    margin-top: -110px;
    margin-bottom: 20px;
    z-index: 2;
}

.titlebg {
    background-color: #fff;
    overflow: hidden;
}

.titleinner {
    display: block;
    margin: 20px;
}

h1 {
    font-family: bebasneue;
    font-size: 60px;
}

.byline {
    line-height: 100%;
    font-size: 20px;
    color: #888;
    text-indent: 0;
    margin-bottom: 1em;
}

.toc-fixed {
    width: calc(calc(calc(100vw - 625px) * 0.5) - 82.5px);
    position: absolute;
    bottom: -50px;
    left: calc(437px - 67vw);
}

.toc-dynamic {
    width: calc(calc(calc(100vw - 625px) * 0.5) - 82.5px);
    position: fixed;
    left: 20px;
    bottom: 50px;
}

.toc-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(100vw - 40px);
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 99;
}

.toc-overlay hr {
    display: none;
}

#toc-menu, #toc-x {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toc-overlay, #toc-x {
    visibility: hidden;
}

#toc-menu {
    visibility: hidden;
}

.toc-elem {
    line-height: 1.0;
    text-indent: 0;
}

.toc-elem a {
    text-decoration: none;
}

.toc-elem a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.toc-header-1 {
    font-weight: 700;
}

.toc-header-2 {
}

.toc-header-3 {
    padding-left: 2em;
    font-size: 10pt;
}

.toc-header-3 a {
    color: var(--primary-color);
}

h3 {
    font-variant: small-caps;
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    color: var(--body-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 20px;
}

a {
    color: var(--body-color);
    text-underline-offset: 0.1em;
    text-decoration-height: 4px;
    display: inline-block;
    text-indent: 0;

    text-decoration-color: var(--primary-color);
}

a:hover {
    text-decoration-color: var(--secondary-color);
}

#through-the-years {
    position: relative;
}

.helper {
    position: absolute;
    color: #888;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 25px;
}

.quote {
    font-size: 20pt;
    padding-left: 20px;
    padding-right: 60px;
    border-left: 5px solid #e27d60;
    margin-bottom: 1em;
}
.quote p {
    text-indent: 0;
}

.attribution {
    font-style: italic;
    margin-right: -60px;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 12pt;
    text-align: right;
}

.caption {
    text-align:center;
    text-indent: 0;
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 50px;
}

footer p {
    font-family: 'bebasneue';
}

footer a:hover {
    text-decoration-color: #41b3a3;
}

